<h2>Form di Inserimento</h2>

<p> Nome: <input type="text" #nome> </p>
<p> Cognome: <input type="text" #cognome> </p>
<p> Indirizzo: <input type="text" #indirizzo> </p>
<p> Telefono: <input type="number" #telefono> </p>
<p> Email: <input type="text" #email> </p>
<p> Data prenotazione: <input type="text" #data> </p>
<p> Ora prenotazione: <input type="text" #ora> </p>
<button (click)="salva(nome, cognome, indirizzo, telefono, email, data, ora)">Papagni fuffa guru</button>

@if(loading)
{
    <p>Caricamento...</p>
}
<div>
    @for(pre of vettPrenotazioni; track pre)
    {
        <br>
        <hr>
        <app-lista-prenotazioni [prenotazione]="pre"></app-lista-prenotazioni>
        
    }
</div>